.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;

  Button {
    margin: 5px;
    width: 147px;
    height: 50px;
  }
}
